$darkgray: #41403e;
$white: #fff;

.images-gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-x: auto;
  max-height: 100%;

  &__container {
    display: flex;
    gap: 2rem;
    max-width: 65.5rem;
  }

  &__button {
    align-self: center;
    background-color: $white;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 0.25rem 0.375rem;
    border-style: solid;
    border-width: 0.125rem;
    box-shadow: rgba(0, 0, 0, .2) 1rem 1.75rem 1.5625rem -1.125rem;
    box-sizing: border-box;
    color: $darkgray;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.4375rem;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 1rem 16rem;
    border-bottom-right-radius: 14rem 1rem;
    border-top-left-radius: 16rem 1rem;
    border-top-right-radius: 1rem 14rem;
    user-select: none;
    touch-action: manipulation;
    margin: 0 0 1rem;

    &:hover {
      box-shadow: rgba(0, 0, 0, .3) 0.125rem 0.5rem 0.5rem -0.9.375rem;
      transform: translate3d(0, 0.125rem, 0);
    }

    &:focus {
      box-shadow: rgba(0, 0, 0, .3) 0.125rem 0.5rem 0.25rem -0.9.375rem;
    }

    &--disabled {
      opacity: 0.8;
      pointer-events: none;
    }
  }

  @media screen and (max-width: 62rem) {
    overflow: hidden;
    height: 70rem;

    &__container {
      flex-direction: column;
    }

    &__button {
      position: fixed;
      bottom: 1rem;
    }
  }
}